{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": "off",
    "require-jsdoc": "error",
    "valid-jsdoc": "error",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
